<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <title> Base </title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id= "bootstrap"></link>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.0/js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    </head>

    <body>
        <nav class="navbar navbar-default navbar-static-top bg-dark">
            <div class="container">
                <ul class="nav navbar-nav">
                    <li><a class="navbar-brand" href="{% url 'home' %}">Cryptocurrency</a></li>
                    <li><a class="navbar-link" href="{% url 'data:graph' %}">Graphs</a></li>
                    <li><a class="navbar-link" href="{% url 'data:predictions' %}">Prediction</a></li>
                </ul>
            </div>
        </nav>
            {% block body_block %}
            {% endblock %}
        </div>

    </body>
</html>
<script>

</script>